* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//ffe70b yellow:fbff00 black:000
$black: #000;
$bace: #fbff00;
$r: #2b2b2b;
body {
  background: $bace;
  font-family: source sans pro,Arial,Helvetica,sans-serif;
}
.main {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 1rem;
  
  .txt {
    font-size: 4rem;
    margin: 1em 1rem;
    font-weight: bold;
    .spanOne {
      background-color: $black;
      width: 40%;
      padding: 1rem 2px 2px 2rem;
      font-size: 4rem;
      color: $bace;
    }
    .spanTwo {
      border: solid 5px $black;
      font-size: 3rem;
      margin-left: 4px;
      padding-top: 1.6rem;
      padding-bottom: 2px;
      height: 4rem;
      color: $black;
    }
    
   
  }
  .input {
    width: 60%;
    color: $black;
    background-color: $bace;
    margin: 1rem;
    height: 3rem;
    align-content: center;
    border: none;
    border-bottom: solid 1px $black;
    font-size: 2rem;
    font-weight: lighter;
    &:focus {
      outline: none;
      color: $r;
      font-weight: lighter;
      caret-color: $r;
      border-bottom: solid 1px $r;
    }
  }
  .btn {
    width: 30%;
    height: 3rem;
    background-color: $black;
    border: none;
    border-radius: 5px;
    color: $bace;
    font-size: 22px;
    &:hover {
      background-color: $bace;
      border: solid$black 1px;
      color: $black;
    }
    &-f {
      width: 30%;
      height: 3rem;
      background-color: $bace;
      border: none;
      border: solid $r 1px;
      border-radius: 5px;
      font-size: 22px;
      color: $r;
    }
  }
  .copied {
    color: $r;
    margin: 1rem;
    font-size: 2rem;
  }
}
